.weatherReport {
    border: 1px solid black;
    
}
.showBorder {
     border-style: groove;
    min-height: 100px; /* makes border visible even while empty */
    border-color:blue ;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#cityLabel{
    color: black;
}

h1 {
    color: purple;
    font-size: 45px;
    text-align: center;
}

body{
     background-color: burlywood;
    color: #333;
}

#Heading {
    text-align: center;
    font-size: 40px;
}

.travelImg {
   display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
    color: seagreen;
    font-size: 30px;
    text-align: center;
}

p {
    text-align: center;
}

.inputStuff {
   display: flex;
justify-content: center; /* Centers horizontally */
align-items: center; /* Centers vertically */
}

.linkButton {
    display: flex;
justify-content: center; /* Centers horizontally */
align-items: center; /* Centers vertically */
    color: steelblue;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}